body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: #f4f4f9;
}


.main_view {
    width: 80%;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    background: #fff;
}


.main_view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.side_view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}


.side_view img {
    width: 9rem;
    height: 7rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.side_view img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #007bff;
}